:root {
  --oxford-blue:        #000000;
  --light-oxford-blue:  #272727;
  --indigo-dye:         #454546;
  --blue-yonder:        #666666;
  --aqua:               #b9963c;
  --white:             hsl(0, 0%, 100%);
}



.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

html { font-family: "Outfit", sans-serif; }

a { text-decoration: none; }

body {
  background: var(--oxford-blue);
}

.bod{
  min-height: 100vh;
  padding: 25px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  
}


.card {
  background: var(--light-oxford-blue);
  max-width: 350px;
  padding: 24px 30px 0px 30px;
  border-radius: 15px;
  box-shadow: 0px 20px 25px 15px rgba(0, 0, 0, 0.05),
              0px 40px 30px 15px rgba(0, 0, 0, 0.1);
              margin: 5px;
               
}

  .card__product-img {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

    .card__product-img::after {
      --aqua: hsla(180, 3%, 63%, 0.5);

      content: url(./images/icon-view.svg);
      background: var(--aqua);
      position: absolute;
      inset: 0;
      display:         flex;
      justify-content: center;
      align-items:     center;
      opacity: 0;
      transition: all 0.25s ease;
    }

  .card__product-img:hover::after { opacity: 1; }

    .card__product-img img {
      width: 100%;
      display: block;
    }


  .card__body {
    padding: 23px 0;
    border-bottom: 1px solid var(--indigo-dye);
    margin-bottom: 15px;
  }

    .card__title {
      color: var(--white);
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .card__title:hover { color: var(--aqua); }

    .card__text {
      color: var(--blue-yonder);
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 23px;
    }

    .card__body .wrapper {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
    }

    .card__price,
    .card__countdown {
      display:     flex;
      align-items: center;
      font-weight: 500;
    }

    .card__price { color: var(--aqua); }

    .card__icon { margin-right: 6px; }

    .card__countdown { color: var(--blue-yonder); }


  .card__footer {
    display:     flex;
    align-items: center;
    margin-bottom: 10px;
  }

    .card__author-img {
      width:  34px;
      height: 34px;
      border: 2px solid var(--white);
      border-radius: 50px;
      margin-right: 15px;
    }

    .card__author-name {
      color: var(--blue-yonder);
      font-weight: 500;
    }

    .card__author-name a {
      color: var(--white);
      font-weight: 400;
    }

    .card__author-name a:hover { color: var(--aqua); }
    